/*Universal Styles*/
html, body {
  height:100%;
  font-family: 'Open Sans';
}
.hero-title {
  margin-right: 1.0rem;
  margin-bottom: 0rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline;
}
.nav-header {
  display: flex;
  align-content: center;
}

.new-room-button {
  height: 1.6rem;
  font-size: 0.75rem;
  margin-top: 0.3rem;
  padding: 0.28rem 0.6rem 0.25rem 0.6rem;
  vertical-align: text-bottom;
  background-color: rgb(245, 245, 245);
  border: none;
  display: inline;
}

.new-room-button:hover {
  background-color: rgb(251, 251, 251);
}

.rooms-list {
  list-style-type: none;
  padding-left: 0.1rem;
}

.rooms-list li{
  font-size: 1.0rem;
  margin-bottom: 0.5rem;
}

.wrap {
  position: fixed;
  height: 100%;
  width: 100%;
}

.nav-bar {
  margin: 0;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: red;
  box-sizing: border-box;
  width: 25%;
  max-width: 250px;
  height: 100%;
  overflow: auto;
  float: left;
}

.room-view {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.4rem;
  background-color: orange;
  /*overflow: auto;*/
}
